/server/node_modules
/client/node_modules
/server/db/images
/server/.env
/server/db/testData/ikea.zip
/client/.env
/client/public/other_images
/client/images
/client/public/images
/client/public/images/test4.png
/client/src/components/CheckOut/stripeCodes.txt
/client/src/components/CheckOut/notUsed
/client/src/components/Orders/OrderHistTemp.js