/* .nav-pills values are for header menu */
.nav-pills > li > a {
  color: #ffffff !important;
  font-weight: 600;
}

.nav-pills > li > a:hover {
  color: #bbbbbb !important;
}

.nav-pills > li > a.active {
  color: #0275d8 !important;
  background-color: #ffffff !important;
} 

.productCardImage {
  max-height: 250px;
  width: auto;
}

.productLink {
  color: black;
  text-decoration: none;  
}
.productLink:hover {
  color: blue;
  text-decoration: none;  
}
.productLink:visited {
  color: black;
  text-decoration: none;    
}

