/* .nav-pills values are for header menu */
.nav-pills > li > a {
  color: #ffffff !important;
  font-weight: 600;
}

.nav-pills > li > a:hover {
  color: #bbbbbb !important;
}

.nav-pills > li > a.active {
  color: #0275d8 !important;
  background-color: #ffffff !important;
} 

.productCol {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  background-color: lightblue;
}

.thumbnailContainer {
  width: 100px;
  height: 100px;

  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.productsTextContainer {
  background-color: lightgreen;
}